
body,
html {
width: 100%;
overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
}

#intro {
    position: relative;
    min-height: 800px;
    width: 100%;
    background-image: url("../images/local/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container-custom {
    border: 2px solid rgb(250, 249, 246);
    border-radius: 47px;
    padding: 25px 30px;
    width: 100%;
    max-width: 600px;
    position: relative;
    z-index: 2;
}

h1 {
    color: rgb(250, 249, 246);
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
    font-family: serif;
    font-weight: bold;
}

.form-control-custom {
    border: 2px solid rgb(250, 249, 246);
    background-color: rgb(250, 249, 246);
    border-radius: 23px;
    font-family: 'Poppins';
    font-size: 16px;
    width: 100%;
    margin: 4px auto;
    padding: 23px 15px;
    max-width: 68%;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
}

footer p {
    color: white;
    margin: 0;
    padding: 12px 39px;
}

#button-custom {
    border: none;
    border-radius: 21px;
    background-color: #E49B0F;
    font-family: 'Poppins';
    font-size: 19px;
    color: white;
    padding: 11px 19px;
    width: 100%;
    max-width: 31%;
    margin: 10px auto;
}


#button-custom:hover {
    background-color: #f17006;
}



    /* 
    @media (min-width: 300px) and (max-width: 600px) {
    
    .container-custom {
        
        padding: 19px 2px;
        width: 100%;
        max-width: 258px;
    
    }
    h1 {
        
        font-size: 31px;
        margin-bottom: 26px;

    }
    .form-control-custom {
    
        font-size: 13px;
        width: 100%;
        margin: 4px auto;
        padding: 19px 11px;
        max-width: 84%;
    }
    #button-custom {
    
        font-size: 14px;
        padding: 12px 2px;
        width: 100%;
        max-width: 35%;
        margin: 10px auto;
    }
    }

    @media (min-width: 600px) and (max-width: 1000px) {
        
    } */